<h1>Novo cartão de crédito:</h1>
  
<% if @errors.length > 0 %>
  <ul class='messages'>
    <% @errors.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class='ls-container-fluid mt_10 col-md-6 px_14' style='outline: 2px solid pink'>
  <%= form_with(url: order_credit_cards_path, method: :post) do |cc|%>
    <input type="hidden" name="order" id="order" value="<%= params[:order_id] %>" />
    <div class="ls-label col-md-6">
      <%= cc.label :credit_card_flags, t('credit_card_flags') %>
      <%= cc.select :credit_card_flags, CreditCard.credit_card_flags.keys.map { |flag| [flag.titleize, CreditCard.credit_card_flags[flag]] }, { include_blank: true }, { class: 'ls-custom-select', id: 'credit_card_flags' } %>
    </div>
    <div class="ls-label col-md-6">
      <%= cc.label :card_number, t('labels.card_number') %>
      <%= cc.text_field :card_number, placeholder:"9999999999999999", required: true %>
    </div>
    <div class="ls-label col-md-6">
      <%= cc.label :owner_name, t('labels.owner_name') %>
      <%= cc.text_field :owner_name %>
    </div>
    <div class="ls-label col-md-6">
      <%= cc.label :validate_month, t('labels.validate_month') %>
      <%= cc.number_field :validate_month, placeholder:"99", required: true %>
    </div>
    <div class="ls-label col-md-6">
      <%= cc.label :validate_year, t('labels.validate_year') %>
      <%= cc.number_field :validate_year, placeholder:"99", required: true %>
    </div>
    <div class="ls-label col-md-6">
      <%= cc.label :cvv, t('labels.cvv') %>
      <%= cc.number_field :cvv, placeholder:"999", required: true %>
    </div>  
    <div class="ls-label col-md-6">
      <%= cc.label :owner_doc, t('labels.owner_doc') %>
      <%= cc.text_field :owner_doc, value: current_user.identification %>
    </div>

    <div class="d_flex col-md-6 mt_20 gap_10">
      <div>
        <%= cc.submit "Cadastrar", class:"ls-btn-primary" %>
      </div>
      <div>
        <%= link_to "Cancelar", checkout_order_path(params[:order_id]), class: "ls-btn-secondary" %>
      </div>
    </div>
  <% end %>
</div>