<aside class="ls-sidebar">
  <div class="ls-sidebar-inner">
    <nav id="main-menu" class="ls-menu">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to 'Dashboard', dashboard_path, class: "ls-ico-dashboard", title: 'Dashboard' %></li>
          <% if current_user.try(:admin?) %>
            <li>
              <a href="#" class="ls-ico-cog" title="Cadastros">Cadastros</a>
              <ul>
                <li><%= link_to 'Vendedores', users_path, title: 'Vendedores' %></li>
                <li><%= link_to 'Bloqueio de Clientes', blocklisted_customers_path, title: 'Bloqueio de Clientes' %></li>
                <li><%= link_to 'Campanha de Bonificação', bonus_commissions_path, title: 'Campanha de Bonificação' %></li>
              </ul>
            </li>
            <li><%= link_to 'Relatório de Comissões', paid_commissions_path, class: "ls-ico-stats", title: 'Relatório de Comissões' %></li>
          <% end %>
          <li><%= link_to 'Pedidos', orders_path, class: "ls-ico-cart", title: 'Pedidos' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</aside>
