<!DOCTYPE html>
<html>
  <head>
    <title>Cobranca</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" type="text/css" href="//assets.locaweb.com.br/locastyle/3.10.1/stylesheets/locastyle.css">
  </head>
  <body>
    <% flash.each do |type, msg| %>
      <% if type == 'notice' %>
        <div class="ls-alert-success ls-dismissable notice">
          <span data-ls-module="dismiss" class="ls-dismiss">&times;</span>
          <%= msg %>
        </div>
      <% end %>
      <% if type == 'alert' %>
        <div class="ls-alert-danger ls-dismissable alert">
          <span data-ls-module="dismiss" class="ls-dismiss">&times;</span>
          <%= msg %>
        </div>
      <% end %>
    <% end %>
    <div class="ls-login-parent">
      <div class="ls-login-inner">
        <div class="ls-login-container">
          <div class="ls-login-box">
            <h1 class="ls-login-logo"><img title="Logo login" src="https://opensource.locaweb.com.br/locawebstyle/assets/images/locastyle/logo-locaweb.png" /></h1>
            <%= yield %>
          </div>
          <script src="http://code.jquery.com/jquery-2.0.1.min.js"></script>
          <!-- Put the JS in your footer, always after jQuery (dependency) -->
          <script src="//assets.locaweb.com.br/locastyle/3.10.1/javascripts/locastyle.js"></script>
        </body>
      </html>
