<div class="ls-box">
  <%= form_with model: @user, url: url, method: method, class: "ls-form ls-form-horizontal row" do | f | %>
    <fieldset>
      <label class="ls-label col-md-5 <%= (@user.errors[:name].empty?)? '':'ls-error' %>">
        <%= f.label :name, class: "ls-label-text" %>
        <%= f.text_field :name %>
        <% if ! @user.errors[:name].empty? %>
          <small class="ls-help-message"><%= @user.errors.where(:name).first.full_message %></small>
        <% end %>
      </label>
      <label class="ls-label col-md-5 <%= (@user.errors[:email].empty?)? '':'ls-error' %>">
        <%= f.label :email, class: "ls-label-text" %>
        <%= f.email_field :email, autocomplete: "email" %>
        <% if ! @user.errors[:email].empty? %>
          <small class="ls-help-message"><%= @user.errors.where(:email).first.full_message %></small>
        <% end %>
      </label>
    </fieldset>
    <fieldset>
      <label class="ls-label col-md-5 <%= (@user.errors[:password].empty?)? '':'ls-error' %>">
        <%= f.label :password, class: "ls-label-text" %>
        <% if @minimum_password_length %>
          <em>(<%= I18n.t('devise.registrations.new.characters_min', count: @minimum_password_length) %>)</em><br />
        <% end %>
        <div class="ls-prefix-group">
          <%= f.password_field :password, class: "ls-login-bg-password", autocomplete: "new-password" %>
          <a class="ls-label-text-prefix ls-toggle-pass ls-ico-eye" data-toggle-class="ls-ico-eye, ls-ico-eye-blocked"
              data-target="#user_password" href="#"></a>
        </div>
        <% if ! @user.errors[:password].empty? %>
          <small class="ls-help-message"><%= @user.errors.where(:password).first.full_message %></small>
        <% end %>
      </label>
      <label class="ls-label col-md-5 <%= (@user.errors[:password_confirmation].empty?)? '':'ls-error' %>">
        <%= f.label :password_confirmation, class: "ls-label-text" %>
        <div class="ls-prefix-group">
          <%= f.password_field :password_confirmation, class: "ls-login-bg-password", autocomplete: "new-password" %>
          <a class="ls-label-text-prefix ls-toggle-pass ls-ico-eye" data-toggle-class="ls-ico-eye, ls-ico-eye-blocked"
              data-target="#user_password_confirmation" href="#"></a>
        </div>
        <% if ! @user.errors[:password_confirmation].empty? %>
          <small class="ls-help-message"><%= @user.errors.where(:password_confirmation).first.full_message %></small>
        <% end %>
      </label>
    </fieldset>
    <fieldset>
      <label class="ls-label col-md-3">
        <%= f.label :admin, class: "ls-label-text ls-display-inline-block" %>
        <div data-ls-module="switchButton" class="ls-switch-btn ls-float-right">
          <%= f.check_box :admin %>
          <label class="ls-switch-label" ls-switch-off="" ls-switch-on=""><span></span></label>
        </div>
      </label>
    </fieldset>

    <div class="ls-actions-btn">
      <%= f.submit 'Salvar', class: "ls-btn-primary" %>

      <% if (@user == current_user) && (! current_user.try(:admin?)) %>
        <%= link_to 'Cancelar', root_path, class: "ls-btn-primary" %>
      <% else %>
        <%= link_to 'Cancelar', users_path, class: "ls-btn-primary" %>
      <% end %>
    </div>
  <% end %>
</div>
