<%= render 'shared/breadcrumb', links: [
  ['Início', root_path],
  [t('activerecord.models.product_group.other'), product_groups_path],
] %>

<div class="ls-box ls-board-box">
  <header class="ls-info-header">
    <h2 class="ls-title-3"><%= t('activerecord.models.product_group.one') %></h2>
  </header>

  <p class="ls-text-md">
    <strong><%= t('activerecord.attributes.product_group.status') %></strong>:<br/>
    <%= product_group_status(@product_group.status, t("activerecord.attributes.product_group.statuses.#{@product_group.status}")) %>
  </p>

  <p class="ls-text-md">
    <strong><%= t('activerecord.attributes.product_group.code') %></strong>:<br/>
    <%= @product_group.code %>
  </p>

  <p class="ls-text-md">
    <strong><%= t('activerecord.attributes.product_group.name') %></strong>:<br/>
    <%= @product_group.name %>
  </p>

  <p class="ls-text-md">
    <strong><%= t('activerecord.attributes.product_group.description') %></strong>:<br/>
    <%= @product_group.description %>
  </p>

  <p class="ls-text-md">
    <%= image_tag @product_group.icon if @product_group.icon.attached? %>
  </p>

  <%= link_to t("back"), product_groups_path, class:"ls-btn" %>
</div>
